<div class="pokemon">
  <% @pokemons.each do |pokemon| %>
  <p>
    <a href="/pokemons/<%= pokemon.id %>">
      <%= pokemon.name %>
    </a>
  </p>
  <% end %>

<h3><a href='/pokemons/new'>Create One</a></h3>
</div>
