<h2> New Pokemon</h2>

<form action="/pokemons" method="post" >
  <label>Name:</label>
  <input type="text" name="name">

  <label>Type:</label>
  <input type="text"name="poke_type">

  <input type='submit' value='Create'>

</form>
