<div class="pokemon">
  <p><a href='/pokemons'> < back</a></p>
<h3> New Pokemon</h3>

<form action="/pokemons" method="post" >
  <p><label>Name:</label></p>
  <input type="text" name="name">

  <p><label>Poke Type:</label></p>
  <input type="text"name="poke_type">

  <p><label>Image URL:</label></p>
  <input type="url" name="img_url">

  <p><label>CP:</label></p>
  <input type="number" name="cp">

  <input class="button-style" type='submit' value='Create'>

</form>
</div>
